@tailwind base;
@tailwind components;
@tailwind utilities;

/* Signika font and Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Signika:wght@300..700&display=swap');
